DEBUG = True
ERP_TYPE = 'openerp'
ERP_DB = 'test'
ERP_HOST = 'localhost'
ERP_USER = 'admin'
ERP_PASSWORD = 'test'
SECRET_KEY = 'DwZUYLeVdZo257wngLdCALRvwfuriBSOj4HfJh69htnEax2gILuUKOhfJ07NWvF'
DEPARTMENT_LIMITS = {'Sales': 4, 'Build': 10, 'Testing': 10, 'Recycling': 15}
