DEBUG = False
LOG_FILE = 'portero.log'
ADMINS = ['me@mydomain.com']
SMTP_HOST = 'smtp.mydomain.com'
SMTP_USER = 'me@mydomain.com'
SMTP_PASS = 'password'
ERP_DB = 'test'
ERP_HOST = 'localhost'
ERP_USER = 'admin'
ERP_PASSWORD = 'test'
SECRET_KEY = 'DwZUYLeVdZo257wngLdCALRvwfuriBSOj4HfJh69htnEax2gILuUKOhfJ07NWvF'
DEPARTMENT_LIMITS = {'Sales': 4, 'Build': 10, 'Testing': 10, 'Recycling': 15}
AUTO_SIGNOUT_HOURS = 2
COUCH_SERVER = 'http://192.168.0.2:5984/'
COUCH_DB = 'frontdesk'
