/**
 * Custom CSS for Portero.
 */


/**
 * WTforms and Bootstrapping
 */
.control-group .help-block {
  color: #999;
  font-size: .75em;
}

.control-group .controls ul {
  list-style: none;
}

.control-group .controls ul li label {
  display: inline-block;
  padding-left: .25em;
}

/**
 * Volunteer list
 */
#current-volunteers .volunteer-image-profile {
  width: 48px;
  float: left;
}

#current-volunteers .volunteer-info {
  padding-left: 4.5em;
}