{% extends "base.html" %}

{% block body %}
<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>

<h2>Welcome to {{ company.name }}</h2>

<h3><a href="timesheet"><img width="100" src="{{ url_for('static', filename='img/clock.png') }}"/>Record your volunteer time</a></h3>
<h3><a href="donation"><img width="100" src="{{ url_for('static', filename='img/donation-hands.png') }}"/>Enter a donation</a></h3>
<h3><a href="sale"><img width="100" src="{{ url_for('static', filename='img/dollar.png') }}"/>Sell hardware</a></h3>
{% endblock %}
