{% extends "base.html" %}

{% block body %}
<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>

<h2>Welcome!</h2>

<form class="form form-inline" action="{{ url_for('hello') }}" method=post>
	{{ wtf.inline_field(form.employee) }}
	
	<label class="control-label" for="work">Work</label>
	<div class="controls"><table><tr>
	{% for subfield in form.work %}
		<td style="padding:0px 25px">{{ subfield }}</td>
	{% endfor %}
	</tr>
	<tr>
	{% for subfield in form.work %}
		<td style="text-align:center">{{ subfield.label }}</td>
	{% endfor %}
	</tr></table></div>
	
	{{ wtf.inline_field(form.action) }}
	<button name="action_save" type="submit" class="btn btn-primary">Sign In</button>
</form>

{% for employee in employees %}
	<img src="data:image/png;base64,{{ employee.photo}}" width="48px">{{ employee.name }}
{% endfor %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
		var employees_signed_out = {{ employees_signed_out|safe }};
		$('#employee').typeahead({source: employees_signed_out, items:5});
    });
</script>
{% endblock %}
