{% extends "base.html" %}

{% block body %}
<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>


<h2>Sign In:</h2>

<form class="form form-inline" action="{{ url_for('hello') }}" method=post>
	<div class="row-fluid">{{ wtf.inline_field(form.employee) }}</div>
	
	
	<div class="controls row-fluid">What will you be working on?
	<table><tr>
	{% for subfield in form.work %}
		<td style="padding:0px 25px">{{ subfield }}</td>
	{% endfor %}
	</tr>
	<tr>
	{% for subfield in form.work %}
		<td style="text-align:center">{{ subfield.label }}</td>
	{% endfor %}
	</tr></table></div>
	
	{{ wtf.inline_field(form.action) }}
	
	<div class="row-fluid"><button name="action_save" type="submit" class="btn btn-primary">Sign In</button></div>
	
</form>

{% for employee in employees %}
	<img src="data:image/png;base64,{{ employee.photo}}" width="48px">{{ employee.name }} - <a href="{{ url_for('sign_out', volunteer_id=employee.id) }}"><i class="icon-off"></i>Sign Out</a>
{% endfor %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
		var employees_signed_out = {{ employees_signed_out|safe }};
		$('#employee').typeahead({source: employees_signed_out, items:5});
    });
</script>
{% endblock %}
