First Name *


Last Name *


Street Address *


City *


Zip Code *


What is your e-mail address?


Would you like to receive our bulletin (Sent no more than twice a year)? *
Infrequent bulletin with high-level and important news about FreeGeek TwinCities.
 Yes
 No

Would you like to receive our volunteer newsletter (Sent periodically and as needed. No more than once a month.) *
Contains organizational updates and news. Sales, promotions, and volunteer/fundraising/donation drives.
 Yes
 No

Emergency Contact Information

Emergency Contact - First Name *


Emergency Contact - Last Name *


Emergency Contact - Phone Number *


Emergency Contact - Relationship to you *
 Friend
 Family
 Work or Business Associate
 Other: 

Volunteer Interest Profile (Page 2 of 3)

Why are you interested in FreeGeek TwinCities? *
 Adopt-A-PC Program
 Learning more about computers
 Interested in helping others
 Other: 

How did you hear about FreeGeek TwinCities? *
 Friend/Family/Word of Mouth
 Referred by other charity or organization
 Website
 Search Engine
 Other: 

Please rate your expertise in working with PC and laptop hardware: *
1 - None, 2 - Novice/Beginner (Low), 3 - Average (Some Experience), 4 - Experienced, 5 - Expert (Teach and Help Others)
1
2
3
4
5
					

Please rate your expertise in working with Linux (Any form) *
1 - None, 2 - Novice/Beginner, 3 - Average (Some Experience), 4 - Experienced, 5 - Expert (Teach and Help Others)
1
2
3
4
5
					

How readily available is a computer to you? *


How important is it for people to have access to computers in today's society? *
1 - Not Very Important, 3 - Sometimes Important, 5 - Very Important
1
2
3
4
5
					

Which of the following have you used within the last 30 days? *
 Facebook
 Twitter
 Instagram
 MySpace
 Foursquare
 Google+
 Pinterest
 LinkedIn
 Reddit
 MeetUp
 Orkut
 Wikipedia

Do you personally currently own any of the following devices? *
 Computer
 Laptop
 Cell Phone (Non-smart)
 Cell Phone (Smart - Android, iPhone, etc)
 Tablet

The following questions are voluntary, but we ask that you complete this information to help us tailor our services to those who need it and to comply with data requests for grant and funding purposes. 

How old are you?
 Less than 13
 13-18
 19-25
 26-32
 33-41
 41-50
 More than 50

Are you Male or Female?
 Male
 Female

What single ethnicity do you most identify with?
 Caucasian
 Hispanic
 African-American
 Native American
 Asian
 Other: 

What is your yearly income level?
 Less than $11,170
 Between $11,170 and $22,340
 Between $22,340 and $45,000
 Between $45,000 and $75,000
 More than $75,000
