{% extends "base.html" %}

{% block body %}
<ul class="breadcrumb">
  <li><a href="/">Sign In/Out</a></li>
  <li>|</li>
  <li class="active">New Volunteer</li>
</ul>

{% if new_volunteer %}
	<h4 class="text-success">Welcome to Free Geek, {{ new_volunteer }}! You can now <a href="{{ url_for('sign_in') }}">sign in</a>.</h4>
{% endif %}
	
<h3>New Volunteer Info</h3>

<form class="form form-horizontal" action="{{ url_for('sign_up') }}" method=post>
	{{ wtf.horizontal_field(form.name) }}
	{{ wtf.horizontal_field(form.email) }}
	{{ wtf.horizontal_field(form.phone) }}

	<fieldset name="address">
		<legend>Address</legend>
		{{ wtf.horizontal_field(form.street) }}
		{{ wtf.horizontal_field(form.city) }}
		{{ wtf.horizontal_field(form.zip) }}
	</fieldset>
	
	<fieldset name="login">
		<legend>Login Info</legend>
		{{ wtf.horizontal_field(form.username) }}
		{{ wtf.horizontal_field(form.password) }}
		{{ wtf.horizontal_field(form.password_confirm) }}
		<label class="control-label" for="suggest_pass">Need a password?</label>
		<div class="controls"><input type="text" id="suggest_pass" readonly="readonly"/></div>
	</fieldset>

	{{ wtf.inline_field(form.action) }}
	
	<div class="form-actions"><button name="action_save" type="submit" class="btn btn-primary">Save Volunteer Info</button></div>
	
</form>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/geekpass.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
		$('#email').attr('autocomplete', 'off');
		$('#phone').attr('autocomplete', 'off');
		var suggest_pass = suggestPass();
		var users = {{ users|safe }};
		console.log(users.length);
		$('#suggest_pass').val(suggest_pass);
		$('#password').val(suggest_pass);
		$('#password_confirm').val(suggest_pass);
		$('#name').change(function () {
			first_initial = $('#name').val().charAt(0).toLowerCase();
			family_name = $('#name').val().split(" ")[1].toLowerCase();
			var newUser = first_initial + family_name;
			$('#username').val(newUser)
		});
		$('#username').change(function () {
			var username = $('#username').val();
			if (users.indexOf(username) >= 0) {
				$('#username').addClass(':invalid');
				console.log(users.indexOf(username));
			};
		});
    });
</script>
{% endblock %}
