{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/timesheet">Timesheets</a> <span class="divider">/</span></li>
  <li class="active">My Time</li>
</ul>

<p>Thanks for your work on {{ request.args.work }}, {{ request.args.name }}!</p>

<p>You've worked a total of {{ timesheet_lines|sum(attribute='hours') }} hours so far!</p> 

<table class="table table-striped table-bordered">
	<thead><tr><th>Date</th><th>Hours</th><th>Work</th><th>Description</th></tr></thead>
	<tbody>
	{% for line in timesheet_lines|sort(attribute='date') %}
		<tr><td>{{ line.date }}</td><td>{{ line.hours }}</td><td>{{ line.work.name }}</td><td>{{ line.description }}</td></tr>
	{% endfor %}
	</tbody>
</table>

{{ request }}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    });
</script>
{% endblock %}
