{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
<ul class="breadcrumb">
  <li><a href="..">Home</a> <span class="divider">/</span></li>
  <li class="active">Timesheets</li>
</ul>

<form action="{{ url_for('enter_timesheet') }}" method=post>
	<dl>
		{{ render_field(form.employee) }}
		{{ render_field(form.work) }}
		{{ render_field(form.hours) }}
		{{ render_field(form.date) }}
		{{ render_field(form.description) }}
		<dd><input type=submit value=Save></dd>
	</dl>
</form>

{{ request }}
{{ request.form }}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#date').datepicker({format: 'yyyy-mm-dd'});
        var now = new Date();
        $('#date').datepicker('setValue', now);
    });
</script>
{% endblock %}
