{% extends "base.html" %}

{% block content %}
  {% if couch_server and couch_db %}
    <div class="alert alert-info">
      Looking for your old (pre-2013) timesheets? You can view them <a href="{{couch_server}}/{{couch_db}}/_design/frontdesk/_rewrite/timesheets" target="_blank">HERE</a>
    </div>
  {% endif %}
  <div class="row-fluid">
    <p>
      <img src="data:image/png;base64,{{ employee_photo }}">
      <h3>{{ request.args.name }}</h3>
      
      <!-- If there's a "work" passed, thank the volunteer... -->
      {%- if request.args.work -%}
        Thanks for your work on {{ request.args.work }}!}<br/>
      {%- endif -%}
      
      <!-- Get a sum of the "hours" attribute from the timesheet_lines -->
      {% if timesheet_lines|sum(attribute='total_attendance') > 0 %}
		You've worked a total of <strong>{{ timesheet_lines|sum(attribute='total_attendance')|round(2) }}</strong> hours so far!
	  {% endif %}
    </p>
  </div>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Date</th><th>Hours</th><th>Work</th>
      </tr>
    </thead>
    <tbody>
      <!-- Take all of the timesheet lines for a volunteer, sort 
        them in reverse order by date (so the latest entry will 
        be at the top), and display them in a table -->
      {% for line in timesheet_lines|sort(attribute='date_from', reverse=True) %}
		{% if line.total_attendance > 0 %}
        <tr>
          <td>{{ line.date_from }}</td>
          <td>{{ line.total_attendance|round(2) }}</td>
          <td>{{ line.department_id[1] }}</td>
          <td>{{ line.total_attendance }}</td>

        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
